
\.idea/CVX101-HW-with-python\.iml

\.idea/markdown-navigator\.xml

\.idea/markdown-navigator/profiles_settings\.xml

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/vcs\.xml

\.idea/workspace\.xml

HW9/__pycache__/hw9_script\.cpython-36\.pyc

HW9/\.ipynb_checkpoints/HW9-checkpoint\.ipynb
